.react-multi-carousel-dot-list{
    /* top:0!important; */
    bottom: -25px!important;
}

.react-multi-carousel-dot--active button {
    background-color: rgba(0, 0, 0, 1);
}

.react-multi-carousel-dot button{
    border: none!important;
    background-color: rgba(0, 0, 0, 0.3);
}

.react-multiple-carousel__arrow{
    background: transparent!important;
}